<!-- featured section starts  -->

<section class="featured" id="featured">
  <h1 class="heading"><span>Featured</span></h1>

  <div class="swiper featured-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide box">
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>

        </div>
        <div class="image">
          <img src="image/book-1.png" alt="" />
        </div>
        <div class="content">
          <h3>Tell us how we're doing</h3>

        </div>
      </div>

      <div class="swiper-slide box">
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>

        </div>
        <div class="image">
          <img src="image/book-2.png" alt="" />
        </div>
        <div class="content">
          <h3>Consumer reports online</h3>

        </div>
      </div>

      <div class="swiper-slide box">
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>

        </div>
        <div class="image">
          <img src="image/book-3.png" alt="" />
        </div>
        <div class="content">
          <h3>Read Romance</h3>

        </div>
      </div>

      <div class="swiper-slide box">
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>

        </div>
        <div class="image">
          <img src="image/book-4.png" alt="" />
        </div>
        <div class="content">
          <h3>How to raise confident kids</h3>

        </div>
      </div>

      <div class="swiper-slide box">
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>

        </div>
        <div class="image">
          <img src="image/book-5.png" alt="" />
        </div>
        <div class="content">
          <h3>Full Stack Coding</h3>

        </div>
      </div>

      <div class="swiper-slide box">
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>

        </div>
        <div class="image">
          <img src="image/book-6.png" alt="" />
        </div>
        <div class="content">
          <h3>Celebrating diversity</h3>

        </div>
      </div>

      <div class="swiper-slide box">
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
        </div>
        <div class="image">
          <img src="image/book-7.png" alt="" />
        </div>
        <div class="content">
          <h3>Effective career goals</h3>

        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>

<!-- featured section ends -->