<!-- login form  -->

<div class="login-form-container">

  <form id="login-form" style="display: block;">
    <h3>sign in</h3>
    <span>email</span>
    <input
      type="email"
      class="box"
      placeholder="enter your email"
      id="email-login"
    />
    <span>password</span>
    <input
      type="password"
      class="box"
      placeholder="enter your password"
      id="password-login"
    />
    <button type="submit" class="btn">sign-in</button>
    <p>don't have an account?
      <a class="signup-btn" href="/signup">Create one</a></p>
  </form>
</div>

<script src="./js/login.js"></script>