<!-- Log-Out-->
<div class="login-form-container">

  <form id="logout" style="display: block;">
    <input type="submit" value="Log Out" class="btn" />
  </form>
</div>

<script src="./js/logout.js"></script>