<!-- Sign-Up -->
<div class="login-form-container">

  <form id="sign-up" style="display: block;">
    <h3>sign up</h3>
    <span>name</span>
    <input
      type="name"
      class="box"
      placeholder="enter your name"
      id="name-signup"
    />
    <span>email</span>
    <input
      type="name"
      class="box"
      placeholder="enter your email"
      id="email-signup"
    />
    <span>password</span>
    <input
      type="password"
      class="box"
      placeholder="enter your password"
      id="password-signup"
    />
    <input type="submit" value="sign up" class="btn" />
  </form>
</div>

<script src="./js/signup.js"></script>